.Card {
  position: relative;
  margin: 10px auto;
  padding: 16px 24px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #111;
  text-decoration: none;
}

/* JobCard */
.JobCard-apply {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #0ba57f;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}

.JobCard-apply:hover {
  cursor: pointer;
}

.JobCard-apply:disabled {
  background-color: #92c0b4;
}

/* CompanyCard */
.CompanyCard-link:hover .CompanyCard {
  color: #0ba57f;
}

.CompanyCard img {
  position: absolute;
  max-width: 64px;
  top: 0;
  right: 0;
  margin: 10px;
}