.JobCard {
  position: relative;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #111;
  background-color: #fff;
}

.JobCard-apply {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
}

.JobCard-apply:hover {
  cursor: pointer;
}
