.NavBar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.NavBar a {
  text-decoration: none;
  color: #0ba57f;
}

#NavBar-logo {
  font-size: 1.3em;
  border-radius: 10px;
  padding: 6px 10px;
  font-weight: 900;
  background-color: #11ce9f;
  color: #000;
}

.NavBar .active {
  font-weight: 900;
  color: #222;
}

.NavBar ul {
  margin-left: auto;
  padding: 0;
}

.NavBar li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}