.NavBar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.NavBar a {
  text-decoration: none;
  color: #2469ff;
}

.NavBar-left {
  justify-self: flex-start;
}

.NavBar .active {
  font-weight: 900;
  color: #222;
}